<!DOCTYPE html>
<html>
    <head>
        <title>{{ meetingInformation.meetingDay }}</title>
    </head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <body>
        <h1>{{ meetingInformation.meetingDay }} Treatment Center Meetings</h1>

        <div>
            <h2>Meetings sorted by distance from: </h2>
            <h3>
                <span>{{ meetingInformation.locationAddress.street_address }}</span></br>
                <span>{{ meetingInformation.locationAddress.city }}</span>,
                <span>{{ meetingInformation.locationAddress.state }}</span>
                <span>{{ meetingInformation.locationAddress.zip_code }}</span></br></br>
                Meeting Types: {% for meetingType in meetingInformation.meetingTypes %}
                    <span>{{ meetingType }}</span>
                {% endfor %}
            </h3>
        </div>

        <div id="navigation">

<table>
    <tr>
        <th>
            ID:
        </th>
        <th>
            Meeting Name:
        </th>
        <th>
            Meeting Type:
        </th>
        <th>
            Distance(in miles)
        </th>
        <th>
            Latitude
        </th>
        <th>
            Longitude
        </th>

    {% for meeting in meetingInformation.meetings %}
        <tr><td>{{ meeting.id }}</td> <td>{{ meeting.meeting_name }} </td> <td>{{ meeting.meeting_type }} </td> <td>{{ meeting.distanceFromOrigin }}</td> <td>{{ meeting.address.lat }}</td> <td>{{ meeting.address.lng }}</td></tr>
    {% endfor %}

        </div>
    </body>
</html>