<!DOCTYPE html>
<html>
    <head>
        <title>{{ page_title }}</title>
    </head>
    <body>
        <h1>{{ page_title }}</h1>
        <h3>
            Default Address:</br>
            517 4th Ave.</br>
            San Diego, CA 92101</br>
            </br>
            </br>
            Default Meeting Types:</br>
            AA, MA, OA, NA</br>
            </br>
            </br>
            Default Meeting Days:</br>
            All Days of Week</br>
        </h3>
        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_end(form) }}
    </body>
</html>